:root {
  --font-main: 'Poppins', sans-serif;
  --secondary-font: 'Single Day', cursive;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background:rgb(223, 223, 223);
}
